<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>

<!-- Añadimos AngularJS -->
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

<script>
	var app = angular.module("app", []);

	function PruebaController($scope) {
		$scope.mensaje = "Hola Mundo";
	}
</script>



<!-- FIN CODIGO COPIADO Y PEGADO DE LAYOUT.JSP-->

</head>


<body ng-controller="PruebaController">
	<h1>{{mensaje}}</h1>

	sggggggggg

</body>